.main {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5vh;
}

.main h1 {
    text-align: center;
    padding: 2rem 0;
    font-size: clamp(2rem, 5vw, 3rem);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.main p {
    text-align: center;
    line-height: 1.6;
}

.main ul {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.main ul li {
    line-height: 1.6;
}