@media (max-width: 800px) { 
    .mobile {
        display: block !important;
        background: white;
        cursor: pointer;
        z-index: 1000;
    }

    .nav-items {
        display: none !important;
        flex-direction: column;
        width: 100%;
        /*experimental*/
        flex-direction: column;
        align-items: flex-start;
        gap: 1.7rem !important; 
        background-color: #000;
        padding-bottom: 5vh;
    } 

    .nav-items.active {
        display: flex !important;
        z-index: 1000;
        background-color: #000;
        margin-top: 80px;
        overflow-x: hidden;
        position: absolute;
        top: 0;
        left: 0;
        padding-left: 10%;
        padding-bottom: 3vh;
        z-index: 1000;
    }

    .cta-buttons {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    .cta-buttons a {
        text-align: center;
    }

    .service-cards .card {
        flex-basis: 100%;
    }
}