html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: Arial, sans-serif;
}

nav {
    width: 100vw;
    height: 80px;
    display:flex;
    align-items: center;
    justify-content: space-around;
    background: #000;
    color: #fff;
}

.logo {
    height: 100%; 
}

.logo img {
    height: inherit;
}

nav .mobile {
    display: none;
    cursor: pointer;
    background: transparent;
    border: none;
    padding: 10px;
}

nav .mobile span {
    background: #fff;
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px;
    border-radius: 2px;
}

nav .nav-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .nav-items a {
    text-decoration: none;
    color: #fff;
    margin: 0 15px;
}

nav .nav-items a:hover {
    text-decoration: underline overline;
}

nav .nav-items .current {
    text-decoration: underline;
    text-decoration-color: rgb(0, 204, 255);
}

.contact {
    background-color: #f50505;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.contact:hover {
    background-color: rgb(0, 204, 255);
    color: #fff;
}

.contact a:hover {
    color: #fff
}