html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: Arial, sans-serif;
}

.hero {
    width: 100%;
    height: 75vh;
    background: url('images/hero.jpg')no-repeat center center/cover;
}

.overlay {
    width: inherit;
    height: inherit;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

nav {
    width: 100vw;
    height: 80px;
    display:flex;
    align-items: center;
    justify-content: space-around;
    background: #000;
    color: #fff;
    position: absolute;
    top: 0;
}

.logo {
    height: 100%; 
}

.logo img {
    height: inherit;
}

nav .mobile {
    display: none;
    cursor: pointer;
    background: transparent;
    border: none;
    padding: 10px;
}

nav .mobile span {
    background: #fff;
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px;
    border-radius: 2px;
}

nav .nav-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .nav-items a {
    text-decoration: none;
    color: #fff;
    margin: 0 15px;
}

nav .nav-items a:hover {
    text-decoration: underline overline;
}

nav .nav-items .current {
    text-decoration: underline overline;
    text-decoration-color: rgb(0, 204, 255);
}

.contact {
    background-color: #f50505;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.contact:hover {
    background-color: rgb(0, 204, 255);
    color: #fff;
}

.contact a:hover {
    color: #fff
}

.overlay h1 {
    font-size:  3rem;
    padding-bottom: 2rem;
    padding-left: 5%;
    padding-right: 5%;
}

.overlay p {
    padding-bottom: 2rem;
    padding-left: 5%;
    padding-right: 5%;
}

.cta-buttons {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 2rem;
}

.cta-buttons .schedule {
    background-color: #f50505;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}

.schedule:hover {
    background-color: #ee2d2d;
}

.cta-buttons .quote {
    background-color: rgb(0, 204, 255);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}

.quote:hover {
    background-color: rgb(121, 202, 223);
}

.services {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5vh;
}

.services h1 {
    text-align: center;
    padding: 2rem 0;
    font-size: clamp(2rem, 5vw, 3rem);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.services .welcome {
    text-align: center;
    line-height: 1.6;
    margin-bottom: 2rem;
}

.services h2 {
    text-align: center;
    padding-bottom: 2rem;
}

.service-cards {
    width: 100%;
    background: #333;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-around;
    gap: 20px;
    padding: 5% 10%;
}

.service-cards .card {
    background-color: #f8f7f7;
    flex-basis: 20%;
    text-align: center;
    padding-bottom: 20px;
}

.card a {
    background-color: rgb(0, 204, 255);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}

.card a:hover {
    background: rgb(121, 202, 223);
}

.card img {
    width: 100%;
    aspect-ratio: 1/1;
}

.card h3 {
    padding: 1rem;
}

.card p {
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.whatsapp-link {
    position: fixed;
    bottom: 10%;
    right: 5%;
    width: 60px;
    height: 60px;
    z-index: 1000;
    background-color: #e6e6e6;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.whatsapp-link img, .phone-link img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.whatsapp-link:hover, .phone-link:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.phone-link {
    position: fixed;
    bottom: 20%;
    right: 5%;
    width: 60px;
    height: 60px;
    z-index: 1000;
    background-color: #e6e6e6;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.email-link {
    position: fixed;
    bottom: 30%;
    right: 5%;
    width: 60px;
    height: 60px;
    z-index: 1000;
    background-color: #e6e6e6;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.email-link img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.email-link:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
} 

.faqs {
    width: 100%;
    height: auto;
    background-color: #000;
    padding: 2rem 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #e6e6e6;
    margin-top: 2rem;
}

.faqs h1 {
    text-align: center;
    padding: 2rem 0;
    font-size: clamp(2rem, 5vw, 3rem);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    text-decoration: underline;
}

.faqs-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.faq-item {
    background-color: #222;
    border-radius: 10px;
    padding: 1rem 2rem;
}

.faq-item h3 {
    font-size: 1.5rem;
}

.faq-item p {
    margin-top: 0.5rem;
    font-size: 1rem;
}

footer {
    width: 100%;
    background: rgba(8, 8, 10, 0.2);
    min-height: 80px;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
}

footer .social-media a {
    margin: 0 10px;
    text-decoration: none;
}

footer .social-media img {
    width: 30px;
    height: 30px;
    object-fit: contain;
}
footer .social-media a:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}